In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2021-10-18 05:14:30,70.6333,147.9167,-8.03,100,75,2.24
1,1,Kousseri,CM,2021-10-18 05:14:30,12.0769,15.0306,80.19,66,63,5.73
2,2,Kapaa,US,2021-10-18 05:09:32,22.0752,-159.3190,78.78,81,20,1.99
3,3,Cape Town,ZA,2021-10-18 05:08:58,-33.9258,18.4232,56.10,70,0,3.00
4,4,Dikson,RU,2021-10-18 05:08:45,73.5069,80.5464,30.90,99,100,6.04

In [10]:
city_data_df.dtypes# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kousseri,CM,2021-10-18 05:14:30,12.0769,15.0306,80.19,66,63,5.73
2,2,Kapaa,US,2021-10-18 05:09:32,22.0752,-159.3190,78.78,81,20,1.99
7,7,Kahului,US,2021-10-18 05:13:19,20.8947,-156.4700,76.84,82,20,16.11
9,9,Gizo,SB,2021-10-18 05:08:56,-8.1030,156.8419,84.97,67,92,3.27
13,13,Roebourne,AU,2021-10-18 05:14:34,-20.7833,117.1333,87.35,31,4,15.03
14,14,Butaritari,KI,2021-10-18 05:14:34,3.0707,172.7902,81.99,70,21,9.78
18,18,Buraydah,SA,2021-10-18 05:13:04,26.3260,43.9750,77.38,24,0,10.69
20,20,Santa Rosa,PH,2021-10-18 05:14:36,14.3122,121.1114,84.11,76,95,13.20
21,21,Hindupur,IN,2021-10-18 05:14:36,13.8289,77.4933,79.45,74,84,13.11
22,22,Cabo San Lucas,MX,2021-10-18 05:07:31,22.8909,-109.9124,80.62,81,7,10.11

In [19]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1         Kousseri      CM     80.19  12.0769   15.0306
2            Kapaa      US     78.78  22.0752 -159.3190
7          Kahului      US     76.84  20.8947 -156.4700
9             Gizo      SB     84.97  -8.1030  156.8419
13       Roebourne      AU     87.35 -20.7833  117.1333
14      Butaritari      KI     81.99   3.0707  172.7902
18        Buraydah      SA     77.38  26.3260   43.9750
20      Santa Rosa      PH     84.11  14.3122  121.1114
21        Hindupur      IN     79.45  13.8289   77.4933
22  Cabo San Lucas      MX     80.62  22.8909 -109.9124

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kousseri,CM,80.19,12.0769,15.0306,Le Pilotis
2,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Kahului,US,76.84,20.8947,-156.4700,Maui Seaside Hotel
9,Gizo,SB,84.97,-8.1030,156.8419,Imagination Island
13,Roebourne,AU,87.35,-20.7833,117.1333,Latitude20 Roebourne Village
14,Butaritari,KI,81.99,3.0707,172.7902,Isles Sunset Lodge
18,Buraydah,SA,77.38,26.3260,43.9750,فندق راحة السلام
20,Santa Rosa,PH,84.11,14.3122,121.1114,Erlyn’s Sta Rosa City Home
21,Hindupur,IN,79.45,13.8289,77.4933,Hotel Sri Baghavan Satya Sai Darshan
22,Cabo San Lucas,MX,80.62,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))